<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mbry.IronMan.Mapper.TeamMemberMapper">
	
	<resultMap id="TeamMemberMap" type="com.mbry.IronMan.entity.TeamMemberEntity">
		<result property="teamId" column="team_id"/>
		<result property="userId" column="user_id"/>
	</resultMap>
	
	<insert id="insertTeamMember">
		INSERT INTO team_member(team_id, user_id)
		VALUES(#{teamId}, #{userId})
	</insert>
	
	<delete id="deleteTeamMember">
		DELETE FROM team_member
		<where>
			<if test="teamId != null">
				AND team_id = #{teamId}
			</if>
			<if test="userId != null">
				AND user_id = #{userId}
			</if>
		</where>
	</delete>
	
	<select id="queryUserByTeamId" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT user_id FROM team_member
		WHERE team_id = #{teamId}
	</select>
	
	<select id="queryTeamByUserId" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT team_id FROM team_member
		WHERE user_id = #{userId}
	</select>
	
</mapper>