<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mbry.IronMan.Mapper.TeamApplicationMapper">
	
	<resultMap id="TeamApplicationMap" type="com.mbry.IronMan.entity.TeamApplicationEntity">
		<result property="applicationId" column="application_id"/>
		<result property="teamId" column="team_id"/>
		<result property="applicantId" column="applicant_id"/>
		<result property="status" column="status"/>
		<result property="targetUserId" column="target_user_id"/>
		<result property="date" column="date"/>
	</resultMap>
	
	<insert id="insertTeamApplication" parameterType="com.mbry.IronMan.entity.TeamApplicationEntity">
		<selectKey keyProperty="applicationId" resultType="java.lang.String" order="BEFORE">
			SELECT REPLACE(UUID(),'-','')
    	</selectKey>
		INSERT INTO
			team_application(
				application_id,
				team_id,
				applicant_id,
				status,
				target_user_id,
				date)
		VALUES(
			#{applicationId},
			#{teamId},
			#{applicantId},
			#{status},
			#{targetUserId},
			#{date})
	</insert>
	
	<delete id="deleteTeamApplicationById" parameterType="java.lang.String">
		DELETE FROM team_application
		WHERE application_id = #{applicationId}
	</delete>
	
	<select id="queryTeamApplicationsByTargetUserId" parameterType="java.lang.String" resultMap="TeamApplicationMap">
		SELECT * FROM team_application
		WHERE target_user_id = #{targetUserId}
	</select>
	
	<select id="queryTeamApplicationsByApplicantId" parameterType="java.lang.String" resultMap="TeamApplicationMap">
		SELECT * FROM team_application
		WHERE applicant_id = #{applicantId}
	</select>
	
	<select id="queryApplicantIdById" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT applicant_id FROM team_application
		WHERE application_id = #{applicationId}
	</select>
	
	<select id="queryApplicationById" parameterType="java.lang.String" resultMap="TeamApplicationMap">
		SELECT * FROM team_application
		WHERE application_id = #{applicationId}
	</select>
	
	<update id="updateStatusByTeamApplicationId">
		UPDATE team_application 
		SET status = #{status}
		WHERE application_id = #{applicationId}
	</update>
	
</mapper>