<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mbry.IronMan.Mapper.UncompleteCardMapper">
	
	<resultMap id="UncompleteCardMap" type="com.mbry.IronMan.entity.UncompleteCardEntity">
		<result property="userId" column="user_id"/>
		<result property="cardId" column="card_id"/>
	</resultMap>
	
	<insert id="insertUserAndCard">
		INSERT INTO
			uncomplete_card(user_id, card_id)
		VALUES(#{userId}, #{cardId})
	</insert>
	
	<delete id="deleteUserAndCard">
		DELETE FROM uncomplete_card
		<where>
			<if test="userId != null">
				AND user_id = #{userId}
			</if>
			<if test="cardId != null">
				AND card_id = #{cardId}
			</if>
		</where> 
	</delete>
	
	<select id="selectCardByUserId" parameterType="java.lang.String" resultType="String">
		SELECT card_id from uncomplete_card
		WHERE user_id = #{userId}
	</select>
	
</mapper>